<div class="create-posts d-flex justify-content-center m-3" >
  <form action="/post" method="post" class="w-50">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="3"
      ></textarea>
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary" >Create</button>
      <button
        type="button"
        class="btn btn-secondary"
        onclick="window.location.replace('/')"
      >Cancel</button>
    </div>

  </form>
</div>