{{> header}}
<div class="post-list d-flex align-items-center flex-column">
  {{#each posts}}
  <div class="card mb-3 w-50">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <a href="/post/{{id}}" class="btn btn-primary">View more...</a>
  </div>
</div> 
  {{/each}}
</div>